.vertical {
    border-left: 1px solid #ffffff;
}

.nav-link:hover {
    color: #ffffff;
    /* brillo y sombra blanca */
    filter: brightness(1.5);
    text-shadow: 0 0 5px #ffffff;
    /* transicion */
    transition: all 0.5s ease;

}